<div class="row">
    <div class="col-md-offset-5 col-md-3">
        <div class="form-login">
            <h4>SMSTools</h4>
            <form name="sms" action="${rc.getContextPath()}/send" method="post">
                <input type="number" id="la" class="form-control input-sm chat-input" placeholder="la" />
                </br>
                <input type="text" id="command" class="form-control input-sm chat-input" placeholder="commando" />
                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <a href="#" class="btn btn-primary btn-md">Enviar SMS <i class="fa fa-sign-in"></i></a>
                    </span>
                </div>
            </form>
        </div>
    </div>
</div>